/* font addition*/
@font-face{
    font-family: 'body';
    src: url(../Fonts/ProductSans-Regular.ttf);
}
@font-face{
    font-family: 'head';
    src: url(../Fonts/ProductSans-Bold.ttf);
}


/* go to top icon styling */
.goto-top{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.3;
}
.goto-top:hover{
    opacity: 0.9;
}


/* navigation bar styling */
.navbar-brand{
    margin-left: 2px;
}
.active > .nav-link{
    font-weight: bold; 
    background-color: lightgray;
}
.navbar-nav{
    padding: 3px;  
    color: black; 
    font-size: 20px;
    text-align: center;
}


/* product categories styling (index.html)*/
.pcategory{
    opacity: 0.3;
}

.categories > div{
    margin-left: 10px;
}


/* USPs styling (index.html) */
.USPs{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.USPs > div{
    margin-top: 25px;
    margin: auto;
    padding: 5px;
}


/* footer styling */
.footer{
    background-color: blueviolet !important;
    height: auto;

}
.text{
    font-weight: bold !important;
    font-size: 30px !important;
    padding-left: 10px;
    padding-top: 5px;
}
.social{
    padding-top: 5px;
}
.social > a{
    text-decoration: none;
}


/* font awesome icons styling */
.fab, .fas, .far{
    font-size: 35px !important;
    padding: 0 10px !important;
}


/* styling for contact.html */
.contact .box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 65% !important;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    text-align: center;
}

.contact .box h1{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.contact .box input[type = "text"],.contact .box input[type = "email"],.contact .box textarea{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.contact .box input[type = "text"]:focus,.contact .box input[type = "email"]:focus,.contact .box textarea:focus{
    width: 280px;
    border-color: #2ecc71;
}

.contact .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.contact .box input[type = "submit"]:hover{
    background: #2ecc71;
}
.contact .title{
    margin-bottom: 350px;
}


/* styling for login page.html */

.login .box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    text-align: center;
}

.login .box h1{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.login .box input[type = "text"],.login .box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.login .box input[type = "text"]:focus,.login .box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.login .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.login .box input[type = "submit"]:hover{
    background: #2ecc71;
}
.login .title{
    margin-bottom: 260px;
}
.login .text-link{
    text-align: center;
}



/* styling for signup page.html */
.signup .box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    text-align: center;
}

.signup .box h1{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.signup .box input[type = "text"],.signup .box input[type = "password"],.signup .box input[type = "number"],.signup .box input[type = "checkbox"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.signup .box input[type = "text"]:focus,.signup .box input[type = "password"]:focus,.signup .box input[type = "number"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.signup .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.signup .box input[type = "submit"]:hover{
    background: #2ecc71;
}
.signup .title{
    margin-bottom: 730px;
}